/* Set Your Own Margin & Padding */
h1, h2, h3, p, em, section {
	margin: 2px 38px;
	font-family: 'Abel', sans-serif;
}


h1, h2, h3 {
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1, h2, h3, p {
	color: #545454;
}

a {
	text-decoration: none;
	color: #3FBAB9;
}

a:hover {
	border-bottom: 2px dotted #3FBAB9;
}

/* Layout for Style Tile*/
section {
	margin: 20px 20px;
}

img {
	width: 50%;
	height: 50%;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1,
.pattern-1 {
	margin-left: 38px;
}

.color-1 {
	background: #B5EBEB;
}

.color-2 {
	background: #3FBAB9;
}

.color-3 {
	background: #646464;
}

.pattern-1 {
	background: url("../img/crossword.png") no-repeat;
}

.pattern-2 {
	background: url("../img/wild_flowers.png") no-repeat;
}

.pattern-3 {
	background: url("../img/dark.png") no-repeat;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}